@import url('https://fonts.googleapis.com/css2?family=Bahiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Bebas+Neue&family=Permanent+Marker&family=Tilt+Prism&display=swap');

* {
    box-sizing: border-box;
}

body{
    max-width: 1000px;
    background-color: black;
    font-family: 'Bahiana', cursive;
    display: flex;
    margin: auto;
}

.container-texto{
    background-color: grey;
    text-align: center;
    margin:auto;
    padding-bottom: 15px;
    border-style: double;
    border-radius: 10px;
    width: 900px;
    position: static;
}

.container-texto h1{
    font-size: 50px;
}

.container-texto .parrafin {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin: 5px;
}

.botoncin button {
    font-family: 'Bahiana', cursive;
    font-size: 30px;
    color: white;
    padding: 9px 25px;
    background: #212629;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    position:static;
}

.botoncin button:hover{
    background-color: #3e4041;
    color: #ff0e0e;
    transform: scale(1.1);
}

.fuentePrincFondo{
    background-color:  rgba(206, 5, 5, 0.8);
    color: black;
    font-size: 30px;
    padding: 10px;

}