@import url('https://fonts.googleapis.com/css2?family=Bahiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Bebas+Neue&family=Permanent+Marker&family=Tilt+Prism&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Bahiana', cursive;
    font-size: 30px;
    box-sizing: border-box;
}

nav{
    border-bottom: double grey;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    position:static;
    top: 0;
    left: 0;
    flex-direction: row;
}

.logo{
    cursor: pointer;
}

.logo img{
    height: 60px;
    width: auto;
    transition: all 0.3s;
}

.logo img:hover{
    transform: scale(1.2);
}

.loenlace{
    list-style: none;
}

.loenlace li{
    display: inline-block;
    padding: 0 20px;
}

.loenlace a{
    font-size: 30px;
    color: white;
    text-decoration: none;    
    font-family: 'Bahiana', cursive;
}

.loenlace li a:hover{
    color: red;
}

.botoncin button{
    font-family: 'Bahiana', cursive;
    font-size: 30px;
    color: white;
    padding: 9px 25px;
    background: #212629;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.botoncin button:hover{
    background-color: #3e4041;
    color: #ff0e0e;
    transform: scale(1.1);
}

.eltitulo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    color: white;
    align-items: center;
}

.color{
    color: red;
}